footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px 8px black;
  color: white;
  padding: 0.5em;
  background: grey;

  img {
    width: auto;
    height: 120px;
  }
}