<div class="form">
  <mat-card>
    <mat-card-title>Calorie Calculator</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="calculate()" [formGroup]="calorieForm" fxLayoutGap="20px">
        <p>
          <mat-form-field>
            <input type="number" formControlName="age" placeholder="Age in years" autocomplete="off" matInput>
          </mat-form-field>
        </p>
      
        <p class="measure-container">
          <mat-form-field>
            <input type="number" formControlName="weight" placeholder="Weight" autocomplete="off" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Weight Unit</mat-label>
            <mat-select formControlName="weightUnit">
                <mat-option value="kg">KG</mat-option> 
                <mat-option value="lbs">LBS</mat-option> 
            </mat-select> 
          </mat-form-field>
        </p>
        
        <p class="measure-container">
          <mat-form-field>
            <input type="number" [min]="0" formControlName="height" placeholder="Height" autocomplete="off" matInput>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Height Unit</mat-label>
            <mat-select formControlName="heightUnit">
                <mat-option value="cm">CM</mat-option> 
                <mat-option value="inches">Inches</mat-option> 
            </mat-select> 
          </mat-form-field>
        </p>

        <p class="gender-container">
          <mat-label>Gender</mat-label>
          <mat-radio-group aria-label="Gender" formControlName="gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Femaile</mat-radio-button>
          </mat-radio-group>
        </p>

        <p>
          <mat-form-field>
            <mat-label>Exercise Activity</mat-label>
            <mat-select formControlName="exercise">
                <mat-option value="none">None (stay in bed all day)</mat-option> 
                <mat-option value="sedentary">Sedentariness (very little)</mat-option> 
                <mat-option value="light">Light (1 to 3 days per week)</mat-option> 
                <mat-option value="moderate">Moderate (3 to 5 days per week)</mat-option> 
                <mat-option value="hard">Hard (6 days per week)</mat-option> 
                <mat-option value="nonstop">Non-Stop</mat-option> 
            </mat-select> 
          </mat-form-field>
        </p>

        <div class="button">
          <button 
            type="submit" 
            [disabled]="calorieForm.invalid" 
            mat-raised-button 
            color="primary">
            Calculate</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template [ngIf]="dailyCalories && losingFatCalories && muscleGainCalories">

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Your Daily Calories: <span class="calorie">{{dailyCalories}}</span> cal</p>
      <p>If you want to loose weight you should intake: <span class="calorie">{{losingFatCalories}}</span> cal</p>
      <p>If you want to gain muscle weight you should intake: <span class="calorie">{{muscleGainCalories}}</span> cal</p>
    </mat-card-content>
  </mat-card>
</ng-template>