<h2>My Routines</h2>
<app-routine [routines]="userRoutines" type="user"></app-routine>
<mat-divider></mat-divider>

<h2>Sample Routines</h2>
<app-routine [routines]="sampleRoutines" type="sample"></app-routine>
<mat-divider></mat-divider>

<a
  class="btn-add" 
  mat-raised-button 
  color="primary"
  routerLink="/training-log/addRoutine">
  Add new routine</a>

<a
  *ngIf="authService.isAdmin()"
  class="btn-add" 
  mat-raised-button 
  color="primary"
  routerLink="/training-log/addSampleRoutine">
  Add new sample routine</a>

<a 
  *ngIf="authService.isAdmin()"
  class="btn-add" 
  mat-raised-button 
  color="primary"
  (click)="openDialog()">
  Add new exercise</a> 