.lift-container {
  display: flex;
  justify-content: space-around;
  mat-form-field:first-of-type {
    margin-right: 1em;
  }
}

table {
  width: 90%;
  margin: 0 auto 1rem;
}

h2 {
  margin-left: 5%;
}