.chart {
  max-width: 750px;
  max-height: 450px;
  margin: 1.5rem auto;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}

.no-data-container {
  margin: 1rem;
  width: 70%;
}