<div class="routines-container">
  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true;"
                            (closed)="panelOpenState = false;"
                            *ngFor="let routine of routines">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{routine.name | titlecase}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="exercise-titles" *ngFor="let exercise of routine.routine">
          <mat-icon>keyboard_arrow_right</mat-icon> {{exercise.exerciseName | titlecase}}
        </p>
        <!-- <a 
          class="edit-btn" 
          mat-stroked-button 
          color="primary" 
          *ngIf="panelOpenState" 
          [routerLink]="['/training-log/editRoutine', routine._id]">Edit routine</a> -->
          
        <a 
          class="start-btn" 
          mat-stroked-button 
          color="primary" 
          *ngIf="panelOpenState" 
          [routerLink]="['/training-log/addWorkout', routine._id]">Start workout</a>
      </mat-expansion-panel>
  </mat-accordion>
</div>
