.exercise-titles {
  display: flex;
  align-items: center;
}

mat-accordion {
  width: 80%;
}

.routines-container {
  display: flex;
  justify-content: space-around;
}

.start-btn {
  float: right;
}

.no-data {
  margin-left: 1rem;
  font-weight: 500;
  color: darkgrey
}