.exercise-titles {
  display: flex;
  align-items: center;
}

mat-accordion {
  width: 80%;
}

.routines-container {
  display: flex;
  justify-content: space-around;
}

.edit-btn {
  float: left;
}

.start-btn {
  float: right;
}