<div class="form">
    <mat-card>
      <mat-card-title>Add Routine</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="addRoutine(routineForm)" [formGroup]="routineForm" fxLayoutGap="20px">
          <p>
            <mat-form-field>
              <input 
                type="text" 
                formControlName="title"
                matInput 
                placeholder="Title">
                <mat-error *ngIf="routineForm.get('title').hasError('required')">Title is required.</mat-error>
                <mat-error *ngIf="routineForm.get('title').hasError('minlength')">Title must be at least 5 symbols</mat-error>
            </mat-form-field>
          </p>
          
          <div formArrayName="exercises">
            <p *ngFor="let exercise of exercisesFormGroup.controls; let i = index;">
              <mat-form-field [formGroupName]="i">
                <input 
                  type="text" 
                  formControlName="name"
                  matInput 
                  placeholder="Exercise">
                  <!-- <mat-error *ngIf="routineForm.get('name').hasError('required')">Exercise name is required.</mat-error>
                  <mat-error *ngIf="routineForm.get('name').hasError('minlength')">Exercise name must be at least 5 symbols</mat-error> -->
              </mat-form-field>
            </p>
          </div>

          <span class="btn-icon" (click)="addExercise()"><mat-icon color="primary">add_circle</mat-icon></span>
    
          <div class="button">
            <button 
              type="submit" 
              [disabled]="routineForm.invalid" 
              mat-raised-button 
              color="primary">
              Add Routine</button>
          </div>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>