<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [stepControl]="routineNameForm">
    <form [formGroup]="routineNameForm">
      <ng-template matStepLabel>Fill out the name of routine</ng-template>
      <mat-form-field>
        <input matInput placeholder="Routine name" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="exercisesForm">
    <form [formGroup]="exercisesForm">
      <ng-template matStepLabel>Fill out exercises in routine</ng-template>

      <div formArrayName="exercises">
        <div *ngFor="let exercise of exercisesFormGroup.controls; let i = index;" 
          class="exercise-container">
          
          <p (focus)="isInputClicked = true"
          (blur)="isInputClicked = false">
            <mat-form-field [formGroupName]="i">
             
              <mat-label>Choose exercise</mat-label>
                <mat-select formControlName="exerciseName">
                  <mat-optgroup *ngFor="let group of exerciseNames | keyvalue" [label]="group.key | titlecase"
                                [disabled]="group.disabled"> 
                  <mat-option *ngFor="let exerciseName of exerciseNames[group.key]" [value]="exerciseName.name">
                    {{exerciseName.name | titlecase}}
                  </mat-option> 
                </mat-optgroup>
              </mat-select> 

            </mat-form-field>
            <span *ngIf="isInputClicked" class="btn-delete" (click)="removeExercise(i)"><mat-icon>clear</mat-icon></span>  
          </p>

          <mat-form-field class="input-sets" [formGroupName]="i">
            <mat-label>Sets</mat-label>
            <input type="number" formControlName="sets" matInput placeholder="Sets" autocomplete="off">
          </mat-form-field>
          
        </div>
      </div>

      <span class="btn-icon" (click)="addExercise()"><mat-icon color="primary">add_circle</mat-icon></span>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="addRoutine()">Add Routine</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>