<ng-template #articlesContainer>
  <div class="articles">
    <app-article *ngFor="let article of articles" [article]="article" contentLength="100"></app-article>
  </div>
</ng-template>
<button 
  *ngIf="authService.isAdmin()"
  mat-raised-button 
  color="primary" 
  class="btn-add-article" 
  (click)="openDialog()">Add article</button>

<ng-template #noData>
  <h2>There is no articles added</h2>
</ng-template>

<ng-container *ngIf="articles.length > 0 then articlesContainer;else noData"></ng-container>
