<div class="my-routines-container">
  <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true;"
                           (closed)="panelOpenState = false;"
                           *ngFor="let routine of (routines$ | async)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{routine.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="exercise-titles" *ngFor="let exercise of routine.routine">
          <mat-icon>label_important</mat-icon> {{exercise}}
        </p>
        <a 
          class="btn-inner" 
          mat-stroked-button 
          color="primary" 
          *ngIf="panelOpenState" 
          [routerLink]="['/training-log/addWorkout', routine._id]">Start workout</a>
      </mat-expansion-panel>
  </mat-accordion>
  <!-- <button mat-stroked-button color="primary" *ngIf="!panelOpenState">Start workout</button> -->
</div>