<form #form="ngForm" (ngSubmit)="submitWorkoutForm(form.value)">

  <h2>{{workout.name | titlecase}}</h2>

  <div class="exerciseForm" *ngFor="let exercise of workout.routine; let i = index;" [ngModelGroup]="exercise.exerciseName">
    <table>
      <caption>{{exercise.exerciseName | titlecase }}</caption>
      <thead>
        <th>#</th>
        <th>KG</th>
        <th>REPS</th>
      </thead>
      <tbody>
        <tr [ngModelGroup]="set.value" *ngFor="let set of exercise.sets; let j = index;">
          <td>{{j + 1}}</td>
          <td><input [min]="0" type="number" name="kg" ngModel autocomplete="off" required></td>
          <td><input [min]="0" type="number" name="rep" ngModel autocomplete="off" required></td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" 
    mat-raised-button color="primary"
    [disabled]="form.invalid">
    Add workout</button>
</form>